
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
  
    
  .nav-left {
    display: flex;
    align-items: center;
    gap: 16px;
  }

.header-menu ul{
  list-style-type: none;
}

.main-menu{
display: flex;
width: 100%;
padding: 0%;
align-items:center;
gap:20px;

}
.main-menu li{
  display: flex;
  align-items: center;
  justify-content: center;
} 
.product1{
display: flex;
align-items: center;
} 
.pic img{
  height: 16px;
  width: 16px;
  margin-top: 10px;

}
  /* Styles for the buttons */
  .nav button {
    margin-right: 10px;
    padding: 8px 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    
  }
.search img{
  height:18px ;
  width: 18px;
  margin-bottom: -4px;
  padding-left: 8px;
}
  .nav button:nth-child(2),
  .nav button:nth-child(3) {
  background-color: white;
  border:none;
  border-radius: 0px;
  color: black;
  }
  .nav button:nth-child(3){
    border-left: 1px solid black ;
  }